*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
header{
    height: 100vh;
    width: 100%;
    display: flex;
}

#form{
    align-content: center;
    text-align: center;
    height: 100%;
    flex: 45%;
    margin-left: 5%;
}
.content{
    flex: 45%;
    align-content: center;
    margin-right: 5%;
}

.formgroup{
    margin: 35px 0px 35px 0px;
}

input{
    padding: 20px;
    width: 60%;
    border: 2px solid #ccc;
    outline: none;
}

h2{
    color:black;
    font-size: 30px;
    font-family: system-ui;
}

#submit{
    background-color: #fbcc56;
    cursor: pointer;
    margin-bottom: 20px;
    border-color: black;
}

#span-email{
    margin-top: 10px;
    font-size: 15px;
    color: red;
    display: none;
}

#span-password{
    margin-top: 10px;
    font-size: 15px;
    color: red;
    display: none;
}

#error-submit{
    margin-top: 10px;
    font-size: 15px;
    color: red;
    display: none;
    margin-bottom: 20px;
}

a{
   text-decoration: none;
   color: #72392a;
   font-family: system-ui;
}