*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
    display: flex;
    font-family: Optima, sans-serif;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#0e4ac7,#7851b8);
    color: white;
    overflow: auto;
}

.sidebar a{
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.opcions{
    padding: 40px; 
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.opcions a{
    color: #dfdced;
    text-decoration: none;
}

.opcions:hover{
    color: #b9f1d6;
    background-color: rgba(0, 0, 0, 0.27);
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.itens{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
}


.box{
    border: 2px solid black;
    border-radius: 10px;
    height: 70%;
    width: 40%;
    padding: 10px;
    align-content: center;
    text-align: center;
}
p{
    font-size: 20px;
}


