*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: Optima, sans-serif;
    color: black;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.905);
    color: white; 
    height: 100vh;
}

.sidebar a{
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.opcions{
    padding: 40px; 
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.opcions a{
    color: #dfdced;
    text-decoration: none;
}

.opcions:hover{
    color: #b9f1d6;
    background-color: rgba(0, 0, 0, 0.27);
}
main{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#form{
    padding: 30px;
    width: 40%;
    text-align: center;
    flex-flow: row wrap;
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 20px;
    justify-content: center;

}

.title-cadastro{
    margin: 20px;
}

.form-produtos{
    margin: 10px;
    padding: 10px;
}

input{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
}

.submit{
    margin-top: 70px;
    text-align: center;
}

.submit input{
    width: 150px;
    font-size: 18px;
    background-color: #8d7966;
    color: white;
    border-radius: 20px;
}
