*{
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.sidebar{
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    width: 11%;
    height: 90vh;
    position: relative;
    padding: 20px;
    top: 4%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 18px;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar ul li{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.sidebar ul li:hover{
    background-color: #555;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
}

.logo{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.exit{
    position: absolute;
    bottom: 20px;
}
main{
    width: calc(100% - 12%);
    height: 80%;
    display: flex;
    margin-top: 50px;
}
#form{
    width: 100%;
    gap: 20px;
    left: 10%;
}

.form-produtos{
    font-size: 14px;
    color: #555;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.form-produtos input{
    border-radius: 10px;
    border: 2px solid white;
    height: 40px;
}

.submit{
    text-align: center;
    padding: 10px;
}

.submit input{
    width: 150px;
    font-size: 18px;
    background-color: #333;
    color: #dfdced;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 #response{
    padding: 20px;
 }



