*{
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.sidebar{
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    width: 11%;
    height: 90vh;
    position: relative;
    padding: 20px;
    top: 4%;
    left: 0.5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 18px;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar ul li{
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.sidebar ul li:hover{
    background-color: #555;
}

.sidebar ul li a{
    color: #fff;
    text-decoration: none;
}

.logo{
    display: flex;
    gap: 5px;
    justify-content: center;
}

.exit{
    position: absolute;
    bottom: 20px;
}
main{
    flex-grow: 1;
}

.header{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

button{
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    background-color: #333;
    color: #dfdced;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

label{
    font-size: 20px;
}
input{
    padding: 10px;
    border-radius: 5px;
}
table{
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-collapse: collapse;
}
th{
    background-color: #888cad2d;
    text-align: center;
}
th,td{
    padding: 10px; 
    border: 1px solid white;
}