*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: Georgia, serif;
}
.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#4325a2,#7851b8);
    color: white;
}

.sidebar a{
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.opcions{
    padding: 40px; 
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.opcions a{
    color: #dfdced;
    text-decoration: none;
}

.opcions:hover{
    color: #b9f1d6;
    background-color: rgba(0, 0, 0, 0.27);
}